<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
<meta charset="UTF-8">
<title>CRUD</title>
<link rel="stylesheet" th:href="@{/css/all.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/signin.css}">
<link href="@{/css/cabecera.css}" rel="stylesheet" type="text/css" />



</head>

<body>

	<!-- PIE DE PAGINA -->
	<div class="footer">
		<footer th:fragment="pie"
			class="px-2 py-2 pcolor text-center text-white">
			<div class="container">
				<div class="row">
					<div class="col-sm">
						<h3>Dirección</h3>
						<p>
							Calle Los Jazmines N°184 <br /> Lince, Urb. San Eugenio
						</p>
					</div>
					<div class="col-sm">
						<h3>Haz tu Pedido</h3>
						<p>
							<a class="text-white" href="/">Inicio</a> 
							<br>
							<a class="text-white" href="#ofertas">Ofertas</a> 
							<br>
							<a class="text-white" href="#accesorios">Accesorios</a> 
							<br>
							<a class="text-white" href="#lubricantes">Lubricantes</a> 
							<br>
							<a class="text-white" href="#pinturas">Pinturas</a> 
							<br>
							<a class="text-white" href="#baterias">Baterias</a> 
						</p>
					</div>
					<div class="col-sm">
						<h3>Nosotros</h3>
						<p>
							<a class="text-white" href="#somos">¿Quiénes Somos?</a>
						</p>
					</div>
				</div>
			</div>

			<script th:src="@{/js/jquery-ui.min.js}"></script>

		</footer>

	</div>

</body>
</html>