<html xmlns:th="http://www.thymeleaf.org">
<!-- ------INICIO del cont principal -->
<div th:replace="dashboard/parte_superior"></div>

<h1 th:text="${titulo}"></h1>

	<form th:action="@{/crear_categoria}" th:object="${categoria}" method="POST">
		<table>
			<tr>
				<td>
					Nombre de la Categoria
				</td>
				<td>
					<input type="text" th:field="*{cat_nombre}">

				</td>
			</tr>

			<tr>
				<td><input type="submit" value="Crear Categoria"></td>
			</tr>

		</table>
		<input type="hidden" th:field="*{id_categoria}">
	</form>



<!-- ------FIN del cont principal -->
<div th:replace="dashboard/parte_inferior"></div>