<html xmlns:th="http://www.thymeleaf.org">
<!-- ------INICIO del cont principal -->
<div th:replace="dashboard/parte_superior"></div>
<div class="container">
	<h1 th:text="${titulo}"></h1>
	<div class="container">
		<form th:action="@{/nuevouser}" th:object=${usuario}
			method="post" enctype="multipart/form-data">

			<div class="card">
				<div class="card-header">

					<div
						th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
						th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
					</div>

				</div>
				<div class="card-body">
					<!-- --->
					<label>Username</label> <input th:field="*{username}" type="text"
						class="form-control">

					<!-- PASSWORD -->
					<div class="form-group">
						<label for="password">Password</label>
						<div class="input-group" id="show_hide_password">
							<input type="password" class="form-control" id="password"
								autocomplete="off" th:field="*{password}" />
							<div class="input-group-append">
								<span class="input-group-text"><i class="fa fa-eye-slash"
									aria-hidden="true"></i></span>
							</div>
						</div>
					</div>
					<!-- PASSWORD -->
					<label>Nombre</label> <input th:field="*{nombre}" type="text"
						class="form-control"> <label>Apellido</label> <input
						th:field="*{apellido}" type="text" class="form-control"> <label>Documento
						de identidad</label> <input th:field="*{documento_identidad}" type="text"
						class="form-control"> <label>Celular</label> <input
						th:field="*{celular}" type="number" class="form-control">

					<label>Enabled</label> <input th:field="*{enabled}" type="text"
						class="form-control">


				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-success">
			</div>
		</form>

		<form th:action="@{/guardarrol}" th:object=${roles}
			method="post" enctype="multipart/form-data">

			<div class="card">
				<div class="card-header">
					<h3>Modulo Roles</h3>

					<div
						th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
						th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
					</div>

				</div>
				<div class="card-body">

					<label>Usuario</label> <select th:field="*{username}"
						class="form-control" id="usuario">

						<option th:each="username:${usuarios}"
							th:value="${username.username}" th:text="${username.username}" />

					</select> <label>Rol</label> <select th:field="*{nombreRol}"
						class="form-control" id="rol">
						<option value="0" selected>Seleccione el Rol</option>
						<option value="ROL_USER">ROL_USER</option>

						<option value="ROL_ADMIN">ROL_CLIENTE</option>

						<option value="ROL_ADMIN">ROL_ADMIN</option>

					</select>


				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-success">
			</div>
		</form>
	</div>
</div>


<!-- ------FIN del cont principal -->
<div th:replace="dashboard/parte_inferior"></div>