
body{
	background: rgb(102,134,128);
	background: linear-gradient(90deg, rgba(102,134,128,1) 0%,
	rgba(113,134,118,1) 0%, rgba(67,117,107,1) 51%, rgba(99,130,124,1) 100%);
}

#nav-link-custom {
    color: white;
}

.tit{
	border-bottom-style: dashed;
	border-top-style: solid;
	font-family: serif;
	font-size: xx-large;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: 2em;
	margin-top: 1em;
	border-bottom-width: 1px;
	border-top-width: 2px;
	text-align: center;
	
}

.border{
	border: #c0c0c0;
	border-style: solid;
	border-left-width: 3em;
	margin-bottom: 2ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
}

.border em{
	color: #000000;
	text-align: center;
	border-bottom-style: solid;
	border-bottom-color: gray;
	border-bottom-width: 1px;
	font-size: 0.7em;
	margin-bottom: 1ex;
	width: 70%;
}

.border h6{
	color: #ffffff;
	text-align: left;
	margin-left: 1.5em;
	font: bold;
	
}
.border span{
	margin-left: 2em;
	font-size: .8em;
}
.border .precio{
	color: #ffff80;
	font-family: serif;
}

.border button{
	color: white;
	margin-left: 1em;
	font-size: .9em;
	border: #008080;
	border-style: solid;
	border-width: 1px;
}

/* 
    guia para saber como estan los bordes
*/
.borde{
	border: blue;
	border-style: solid;
	border-width: 1px;
}





