<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>

<link href="css/productos.css" rel="stylesheet" type="text/css" />
</head>
<body>

 <div class="conte ">
         <div class="card stromtroper">
             <img src="https://www.freepnglogos.com/uploads/stormtrooper-png/stormtrooper-hot-toys-scale-star-wars-the-force-awakens-first-order-5.png" alt="">
         </div>
         <div class="informacion">
             <h1>Stormtrooper (Star Wars)</h1>
            <p class="fecha">
                Fecha Salidad:01/3/2021
            </p>
         </div>
         <div class="precio">
             <div class="box-precio">
                 <span class="precio1"><strike>S/35.00</strike> </span>
             <span class="precio2"><b>S/35.00</b></span>
             </div>
             <span class="shoping"><i class="fas fa-cart-plus"></i></span>
         </div>
     </div>
     
    <div class="conte">
         <div class="card iron-man">
             <img src="https://pngimg.com/uploads/ironman/ironman_PNG49.png" alt="">
         </div>
         <div class="informacion">
             <h1>Iron Man (Marvel)</h1>
            <p class="fecha">
                Fecha Salidad:01/15/2021
            </p>
         </div>
         <div class="precio">
             <div class="box-precio">
                 <span class="precio1"><strike>S/45.00</strike> </span>
                 <span class="precio2"><b>S/45.00</b></span>
             </div>
             <span class="shoping"><i class="fas fa-cart-plus"></i></span>
         </div>
     </div>
     
    <div class="conte">
         <div class="card spider-man">
             <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c566b360-dcc0-4f8d-8154-05e8123d0d36/d8aj70d-50bc3b4b-0433-412d-9a7b-bf9bee94cd20.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzU2NmIzNjAtZGNjMC00ZjhkLTgxNTQtMDVlODEyM2QwZDM2XC9kOGFqNzBkLTUwYmMzYjRiLTA0MzMtNDEyZC05YTdiLWJmOWJlZTk0Y2QyMC5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.e0ROxoVOx-I1gA_hpaHGbQD1n3tmw0e97Q7SX3oVZyI" alt="">
         </div>
         <div class="informacion">
             <h1>Spider Man (Marvel)</h1>
            <p class="fecha">
                Fecha Salidad:03/20/2021
            </p>
         </div>
         <div class="precio">
             <div class="box-precio">
                 <span class="precio1"><strike>S/55.00</strike> </span>
             <span class="precio2"><b>S/55.00</b></span>
             </div>
             <span class="shoping"><i class="fas fa-cart-plus"></i></span>
         </div>
     </div>

</body>
</html>